doctype html
html
  head
    title=title
    link(rel='stylesheet', type='text/css', href='styles/styles.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body
    h1.homepage PROFILI
    .container
      .row
        .col-md-4.d-flex.flex-column.align-items-center
          img(src='public/styles/images/cristiano_ronaldo.jpg', alt='cristiano_ronaldo', class ='img-fluid img-cristiano_ronaldo')
          a.button-cristiano_ronaldo.btn.btn-primary(href='/cristiano_ronaldo') cristiano ronaldo
        .col-md-4.d-flex.flex-column.align-items-center
          img(src='public/styles/images/.jpg', alt='Lionel_Messi', class ='img-fluid img-Lionel_Messi')
          a.button-Lionel_Messi.btn.btn-primary(href='/Lionel_Messi') Lionel Messi
        .col-md-4.d-flex.flex-column.align-items-center
          img(src='public/styles/images/Neymar_Jr.jpg', alt='Neymar_Jr', class ='img-fluid img-Neymar_Jr')
          a.button-Neymar_Jr.btn.btn-primary(href='/Neymar_Jr') Neymar Jr